<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>RegistrarInfoBasicaEquipo</servlet-name>
        <servlet-class>controlador.RegistrarInfoBasicaEquipo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegistrarJugador</servlet-name>
        <servlet-class>controlador.RegistrarJugador</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegistrarEquipo</servlet-name>
        <servlet-class>controlador.RegistrarEquipo</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RegistrarInfoBasicaEquipo</servlet-name>
        <url-pattern>/registrarinfobasicaequipo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegistrarJugador</servlet-name>
        <url-pattern>/registrarjugador</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegistrarEquipo</servlet-name>
        <url-pattern>/registrarequipo</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
